*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-size: 300;
  line-height: 1.3em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  margin: 0 auto;
}

nav ul {
  border: 1px solid #ccc;
  max-width: 800px;
  margin: 50px auto;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  background: #fff;
  color: #1aafd0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: 300ms;
}

nav a:hover {
  background: #f2f2f2;
  color: #555;
}


/* Flex styles */

.flex-nav ul {
  display: flex;
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}


@media screen and (max-width: 1023px) {
  .flex-nav ul {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .social {
    flex: 1 1 25%;
  }
}

@media screen and (max-width: 565px) {
  .flex-nav li {
    flex-basis: 100%;
  }
}
