*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #222;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-size: 300;
  line-height: 1.3em;
}

header {
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

nav ul {
  border: 1px solid #ddd;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  background: #fff;
  color: #1aafd0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: 300ms;
}

nav a:hover {
  background: #f2f2f2;
  color: #555;
}

section,
footer {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

img {
  max-width: 100%;
}

button, input {
  padding: 10px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.js-toggle-nav {
  display: none;
}

/* Flex styles */

.flex-nav ul {
  display: flex;
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}


@media screen and (max-width: 1023px) {
  .flex-nav ul {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .social {
    flex: 1 1 25%;
  }
}

@media screen and (max-width: 565px) {
  .flex-nav li {
    flex-basis: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .flex-nav {
    order: -1;
  }

  .flex-nav ul {
    display: none;
  }

  .js-toggle-nav {
    display: block;
  }

  .flex-nav.is-on ul {
    display: flex;
  }

  .flex-nav .flex-nav__menu {
    display: block;
  }

  .flex-nav .flex-nav__close {
    display: none;
  }

  .flex-nav.is-on .js-toggle-nav {
    background: #f2f2f2;
    color: #555;
  }

  .flex-nav.is-on .flex-nav__close {
    display: block;
  }

  .flex-nav.is-on .flex-nav__menu {
    display: none;
  }
}
