*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-size: 300;
  line-height: 1.3em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  margin: 0 auto;
}

nav ul {
  border: 1px solid #ccc;
  max-width: 1000px;
  margin: 50px auto;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  background: #fff;
  color: #1aafd0;
  line-height: 40px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: 300ms;
}

nav a:hover {
  background: #f2f2f2;
  color: #555;
}


/* Flex styles */

.flex-nav ul {
  display: flex;
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}
